{{#bs-modal open=isOpen onHide=(action "closeSelf") as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">{{title}}</h4>
  {{/modal.header}}
  {{#modal.body}}
    {{yield}}
  {{/modal.body}}
{{/bs-modal}}