<form {{action onFormSubmit on="submit"}}>
  <div class="form-group row">
    <label for="name" class="col-3 col-form-label">Name</label>
    <div class="col-9">
      {{input type="text" id="name" value=ingredient.name class="form-control" placeholder="Enter a name"}}
    </div>
  </div>
  <hr>
  <div class="form-group row justify-content-center">
    {{input type="submit" class="btn btn-primary" value="Submit"}}
  </div>
</form>