<form {{action "submitForm" on="submit"}}>
  <p>Are you sure you want to delete the '{{ingredient.name}}' ingredient?</p>
  <hr>
  <div class="form-group row justify-content-center">
    {{input type="submit" class="btn btn-primary" value="Confirm"}}
  </div>
</form>