<form {{action onFormSubmit on="submit"}}>
  <p>Are you sure you want to delete the '{{ingredient.name}}' ingredient?</p>
  <hr>
  <div class="form-group row justify-content-between modal-btn-form-group">
    {{#bs-button type="danger" onClick=(action onFormCancel)}}Cancel{{/bs-button}}
    {{input type="submit" class="btn btn-primary" value="Confirm"}}
  </div>
</form>