@import "ember-bootstrap/bootstrap";
@import "ember-power-select/themes/bootstrap";
@import "ember-power-select";
@import 'ember-basic-dropdown';
@import "ember-power-calendar";

// Global container

.app-container {
  margin: 50px auto;
}

// Recipe card-deck

.recipe-card-deck {
  margin: 0 auto;

  .recipe-card {
    min-width: 25vh;
    max-width: 25vh;
    margin-top: 1rem;
    padding-left: 0;
    padding-right: 0;

    .card-img-recipe {
      height: 250px;
    }

    .recipe-card-description {
      height: 6rem;
      overflow: auto;
    }
  }
}

// Recipe details

.img-recipe {
  max-width: 300px;
  max-height: 200px;
}

// Raised the z-index of the power-select components because bootstrap modals are @1500

.in-modal-dropdown {
  z-index: 1051;
}

// Custom inline list with commas after all it's elements (except the last one)

.list-inline {
  .list-inline-item {
    margin-right: 0;

    &:not(:last-child):after {
      content: ', ';
    }
  }
}

// Fixed column size for the tables

.table-col-fixed {
  width: 1px;
}

// Filter datepicker

.filter-calendar {
  @include ember-power-calendar($cell-size: 50px);
}

.btn-filter {
  padding: 0.25rem 1rem;
  margin-left: 5px;
  margin-right: 5px;

  &.btn-datepicker {
    background-color: white;
    border-color: #ccc;
  }
}