@import "ember-bootstrap/bootstrap";

.app-container {
  margin: 50px auto;
}

.recipe-card-deck {
  margin: 0 auto;

  .recipe-card {
    margin-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;

    .recipe-card-description {
      height: 6rem;
      overflow: auto;
    }
  }
}