{{#bs-navbar fluid=false as |navbar|}}
  {{navbar.toggle}}
  {{#link-to "index" class="navbar-brand"}}
    RecipesApp
  {{/link-to}}
  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#nav.item}}
        {{#nav.link-to "recipes"}}Recipes{{/nav.link-to}}
      {{/nav.item}}
      {{#nav.item}}
        {{#nav.link-to "ingredients"}}Ingredients{{/nav.link-to}}
      {{/nav.item}}
      {{#nav.item}}
        {{#nav.link-to "categories"}}Categories{{/nav.link-to}}
      {{/nav.item}}
      {{#nav.item}}
        {{#nav.link-to "tags"}}Tags{{/nav.link-to}}
      {{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}
<div class="container app-container">
  {{outlet}}
</div>