<table class="table table-hover table-sm text-center">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  {{#each model as |category|}}
    <tr>
      <th scope="row" class="align-middle">{{category.id}}</th>
      <td class="align-middle">{{category.name}}</td>
      <td class="align-middle">
        <div class="btn-group" role="group">
          {{#bs-button type="info" outline="true" onClick=(action "openModal" "Details" category)}}Details{{/bs-button}}
          {{#bs-button type="info" outline="true" onClick=(action "openModal" "Update" category)}}Update{{/bs-button}}
          {{#bs-button type="danger" outline="true" onClick=(action "openModal" "Delete" category)}}Delete{{/bs-button}}
        </div>
      </td>
    </tr>
  {{else}}
    <td>Sorry, no categories available!</td>
  {{/each}}
  </tbody>
</table>
<hr>
{{#bs-button type="primary" onClick=(action "openModal" "Create" category)}}Create{{/bs-button}}

{{#generic-modal type=modalType modelType="Category" isOpen=isModalOpen}}
  {{component modalBodyComponent category=selectedCategory}}
{{/generic-modal}}