{{#bs-button type="primary" class="mb-3" onClick=(action "openModal" "Create" category)}}Create{{/bs-button}}

<table class="table table-hover table-responsive-sm">
  <thead>
    <tr>
      <th scope="col" class="table-col-fixed">#</th>
      <th scope="col">Name</th>
      <th scope="col" class="table-col-fixed"></th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |category|}}
      {{#if category.id}}
        {{#unless category.isDeleted}}
          <tr>
            <th scope="row" class="align-middle">{{category.id}}</th>
            <td class="align-middle">{{category.name}}</td>
            <td class="align-middle">
              <div class="btn-group" role="group">
                {{#bs-button type="info" outline="true" onClick=(action "openModal" "Details" category)}}Details{{/bs-button}}
                {{#bs-button type="info" outline="true" onClick=(action "openModal" "Update" category)}}Update{{/bs-button}}
                {{#bs-button type="danger" outline="true" onClick=(action "openModal" "Delete" category)}}Delete{{/bs-button}}
              </div>
            </td>
          </tr>
        {{/unless}}
      {{/if}}
    {{else}}
      <td colspan="3">Sorry, no categories available!</td>
    {{/each}}
  </tbody>
</table>

{{#generic-modal type=modal.type
                 modelType=modal.modelType
                 isOpen=modal.isOpen
                 title=modal.title
                 onClose=(action modal.onCloseAction)
                 onClosed=(action modal.onClosedAction)}}
  {{component modal.bodyComponent
              onFormSubmit=(action modal.submitAction)
              onFormCancel=(action modal.cancelAction)
              category=selectedCategory}}
{{/generic-modal}}