<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model as |tag|}}
      <tr>
        <th scope="row">{{tag.id}}</th>
        <td>{{tag.name}}</td>
      </tr>
    {{else}}
      <td>Sorry, no tags available!</td>
    {{/each}}
  </tbody>
</table>