{{#bs-button type="primary" class="mb-3" onClick=(action "openModal" "Create" tag)}}Create{{/bs-button}}
<table class="table table-hover table-responsive-sm">
  <thead>
    <tr>
      <th scope="col" class="table-col-fixed">#</th>
      <th scope="col">Name</th>
      <th scope="col" class="table-col-fixed"></th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |tag|}}
    {{#if tag.id}}
      {{#unless tag.isDeleted}}
        <tr>
          <th scope="row" class="align-middle">{{tag.id}}</th>
          <td class="align-middle">{{tag.name}}</td>
          <td class="align-middle">
            <div class="btn-group" role="group">
              {{#bs-button type="info" outline="true" onClick=(action "openModal" "Details" tag)}}Details{{/bs-button}}
              {{#bs-button type="info" outline="true" onClick=(action "openModal" "Update" tag)}}Update{{/bs-button}}
              {{#bs-button type="danger" outline="true" onClick=(action "openModal" "Delete" tag)}}Delete{{/bs-button}}
            </div>
          </td>
        </tr>
      {{/unless}}
    {{/if}}
  {{else}}
    <td colspan="3">Sorry, no tags available!</td>
  {{/each}}
  </tbody>
</table>

{{#generic-modal type=modalType modelType="Tag" isOpen=isModalOpen onClose=(action 'onModalClose')}}
  {{component modalBodyComponent onSubmit=(action onSubmitAction) tag=selectedTag}}
{{/generic-modal}}